RewriteEngine On

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule /(.*)\.(gif|jpe?g|png|bmp) /imageResizer.php?img=$1.$2 [QSA,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]