
.popup {
	border: 1px solid #aaa;
	border-radius: 5px;
}
.closeBar {
	text-align: right;
	border-bottom: 1px solid #aaa;
	background-color: #ddd;
	padding: 2px;
	height: 20px;
}

.closeBar .x{
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	width:20px;
	height: 20px;
	line-height: 20px;
	font-family: arial, sans serif;
	color: #666;
	background-color: #ddd;
	border-radius: 10px;
	text-align: center;
}

.closeBar .x:hover {
	background-color: #aaa;
}

.closeButton {

}
.popupContent {
	padding: 20px;
}
.btn-close {
	background-color: #ccc;
	margin: 5px;
	border-radius: 0px;
}